@import "fonts.pcss";

:root {
    --padding: 40px;
    --border-padding: 20px;
    --app-position-left: calc(var(--border-padding) / 2);
    --app-position-right: calc(var(--border-padding) / 2);
    --app-width: calc(100% - var(--border-padding));
    --app-height: calc(100% - var(--border-padding));
    --bg: rgb(28, 29, 32);
    --link-hover: rgb(42, 103, 103);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a.defaults {
    color: white;
    text-transform: uppercase;
}

body {
    font-family: "TASA-ORBITER-VF", sans-serif;
    font-size: 100%;
}

h1 {
    font-weight: 700;
}

/* Mostly for storybook - should probably remove on final thing */
html {
    background-color: var(--bg);
}

main {
    background-color: var(--bg);
    z-index: 1;
    position: absolute;
    overflow: hidden;
    left: var(--app-position-left);
    top: var(--app-position-right);
    height: var(--app-height);
    width: var(--app-width);
}

#gl {
    position: fixed;
    left: var(--app-position-left);
    top: var(--app-position-right);
    height: var(--app-height);
    width: var(--app-width);
}
