
/*
Copyright (c) 2023, Local Remote (https://localremote.co/),
with Reserved Font Name TASA Orbiter.
This Font Software is licensed under the SIL Open Font License, Version 1.1.
 */

@font-face {
    font-family: 'TASA-ORBITER-VF';
    src: url('/fonts/TASAOrbiterVF.woff2') format('woff2');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}
