<script lang="ts">
    /**
     * This is a simplified image loader. It's based on use of the browser cache and simply preloads all the images you pass into
     * it, the idea being that once you actually need to load the image, it's already in memory so things should load a lot faster.
     */


    /**
     * paths to items that need to be loaded.
     */
    export let items: Array<string> = [
        "/debug.png"
    ]

    /**
     * The current number of items that have loaded.
     */
    let current_loaded = 0

    /**
     * The total percentage of things loaded.
     */
    let total_pct = 0

    /**
     * a flag used to help ensure we only re-load things if the number of items changes from what was previously
     * passed in.
     */
    let item_size = 0

    /**
     * Flag for when everything is loaded
     */
    let all_loaded = false

    $ :{

        // on change, we calculate the size of everything that needs to be loaded.
        if (item_size !== items.length && items.length > 0) {
            item_size = items.length
            gatherSize()
        }
    }

    /**
     * Gets the total size in bytes of all the images passed to [items]
     */
    function gatherSize() {
        let proms = items.map(itm => {
            return new Promise((res, rej) => {
                let img = new Image()
                img.src = itm
                img.crossOrigin = "anonymous"
                img.onload = () => {
                    current_loaded += 1
                    total_pct = Math.round((current_loaded / items.length) * 100)
                }
            })
        })

        Promise.all(proms).then(() => {
            all_loaded = true
        })
    }


</script>


<section class="loader">
    <div class="screen"></div>
    <!-- Content to reveal once image loading is complete. -->
    <slot/>
</section>