<script lang="ts">
    import "../styles/app.pcss"
    import Scroller from "$lib/scroller";
    import {ScrollReader} from "$lib/scrollevent";

    import {onDestroy, onMount} from "svelte";

    /**
     * The items to go into the menu.
     */
    export let items: Array<Array<string>> = [
        ["/about", "About"],
        ["/contact", "Contact"],
        ["/about", "Focus"],
        ["/contact", "Pocus"],
    ]

    /**
     * Whether the menu is currently open.
     */
    export let menu_open: boolean = false


    let menu_ref = null
    let scroll = null

    onMount(() => {
        scroll = new Scroller(menu_ref)

        scroll.setMaxHeight()

        ScrollReader.subscribe(e => {
            scroll.onMovement(e)
        })

        scroll.animate()
    })

    onDestroy(() => {
        scroll.stopAnimate()
    })
</script>


<div class="menu" bind:this={menu_ref}>
    <nav>
        {#if items.length > 0}
            {#each items as itm}
                <a class="defaults" href={itm[0]}>{itm[1]}</a>
            {/each}

        {/if}
    </nav>
</div>

<style lang="postcss">

    /* Mostly for debug / StoryBook - should adjust as necessary when actually using */
    .menu {
        min-width: 20vw;
        overflow-y: auto;
        overflow-x: hidden;
    }

    nav {
        right: 0;
        max-height: 30vh;
    }

    nav a {
        padding: var(--padding);
        padding-right: var(--border-padding);
        text-align: right;
        display: block;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 200%;
    }

</style>