<script lang="ts">

    import "../styles/app.pcss"
    import {goto} from "$app/navigation";


    /**
     * Urls to show. Each element should be an array with 2 items, the first item is the url to lead to and the
     * second is the label.
     * @type {Array<Array[]>}
     */
    export let urls: Array<Array<string>> = [
        ["/about", "About"],
        ["/contact", "Contact"]
    ]

    /**
     * The callback function to run, if any, once a user clicks on link offering the opportunity to do something
     * prior to moving the user to the next location.
     */
    export let cb = (next) => {
        next()
    }


    /**
     * Handles link click events. Allows for a pre-transition event to occur.
     * @param e
     */
    function click(e) {
        e.preventDefault()
        cb(goto(e.target.href))
    }

</script>

<nav>

    {#if urls.length > 0}
        {#each urls as url}
            <a class="defaults" href={url[0]} on:click={click}>{url[1]}</a>
        {/each}
    {/if}

</nav>


<style>

    nav {
        padding: var(--padding);
    }

    nav a {
        font-size: 120%;
        margin-right: 10px;
        transition: all 0.5s ease;
        text-transform: uppercase;
    }

    nav a:hover {
        font-weight: bold;
        transition: all 0.5s ease;
    }

</style>